<%
  total_width = (@base_width * @card_per_row) + (16 * (@card_per_row - 1))
  scaled_width = total_width * @container_scale
%>

<div class="skeleton-card" style="padding: <%= 16 * @container_scale %>px;">
  <div style="
  display: grid;
    grid-template-columns: repeat(<%= @card_per_row %>, <%= @base_width * @container_scale %>px);
    gap: <%= 16 * @container_scale %>px;
    width: <%= scaled_width %>px;
  ">
    <% @card_count.to_i.times do %>
      <div style="width: 100%;">
        <div class="skeleton-loading <%= @animation_type %>" style="
        height: <%= 240 * @container_scale %>px;
          border-radius: 6px;
          overflow: hidden;
          margin-bottom: <%= 16 * @container_scale %>px;
        "></div>
        <div class="skeleton-loading <%= @animation_type %>" style="
        height: <%= 20 * @container_scale %>px;
          width: 50%;
          border-radius: 6px;
          margin-bottom: <%= 8 * @container_scale %>px;
        "></div>
        <div class="skeleton-loading <%= @animation_type %>" style="
        height: <%= 20 * @container_scale %>px;
          width: 30%;
          border-radius: 6px;
        "></div>
      </div>
    <% end %>
  </div>
</div>
