<ul class="flex shimmer-fast" style="gap: <%= @gap %>">
  <% @item_count.times do %>
    <li>
      <div class="w-[122px] sm:w-[140px] h-[255px] overflow-hidden border border-tmdbLightGray shadow-light"
           style="border-radius: <%= @border_radius %>; margin-bottom: <%= @margin %>; padding-bottom: <%= @padding %>">

        <div class="h-[175px] flex items-center justify-center relative"
             style="background-color: <%= @background_color %>">
          <svg class="w-3/4 relative z-10">
            <use xlink:href="#user-skeleton"></use>
          </svg>
          <% if @animation_enabled %>
            <div class="shimmer-wrapper">
              <div class="shimmer" style="animation-duration: <%= @animation_duration %>"></div>
            </div>
          <% end %>
        </div>

        <div class="mt-2.5 mx-2.5 text-left">
          <div class="h-5 rounded w-3/4 mb-1 relative"
               style="background-color: <%= @background_color %>">
            <% if @animation_enabled %>
              <div class="shimmer-wrapper">
                <div class="shimmer" style="animation-duration: <%= @animation_duration %>"></div>
              </div>
            <% end %>
          </div>

          <div class="h-4 rounded w-1/2 relative"
               style="background-color: <%= @background_color %>">
            <% if @animation_enabled %>
              <div class="shimmer-wrapper">
                <div class="shimmer" style="animation-duration: <%= @animation_duration %>"></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>