<%
  scaled_width = @base_width * @container_scale
%>

<div class="skeleton-comment" style="
width: <%= scaled_width %>px;
  padding: <%= 16 * @container_scale %>px;
">
  <div style="
  display: flex;
    align-items: flex-start;
    gap: <%= 16 * @container_scale %>px;
  ">
    <!-- Avatar circle -->
    <div class="skeleton-loading <%= @animation_type %>" style="
    border-radius: 50%;
      height: <%= 48 * @container_scale %>px;
      width: <%= 48 * @container_scale %>px;
      flex-shrink: 0;
    "></div>

    <!-- Content area -->
    <div style="flex: 1;">
      <!-- Username -->
      <div class="skeleton-loading <%= @animation_type %>" style="
      height: <%= 16 * @container_scale %>px;
        width: 25%;
        margin-bottom: <%= 8 * @container_scale %>px;
      "></div>

      <!-- Comment text lines -->
      <div style="
      display: flex;
        flex-direction: column;
        gap: <%= 8 * @container_scale %>px;
      ">
        <div class="skeleton-loading <%= @animation_type %>" style="
        height: <%= 16 * @container_scale %>px;
          width: 100%;
        "></div>
        <div class="skeleton-loading <%= @animation_type %>" style="
        height: <%= 16 * @container_scale %>px;
          width: 83%;
        "></div>
        <div class="skeleton-loading <%= @animation_type %>" style="
        height: <%= 16 * @container_scale %>px;
          width: 67%;
        "></div>
      </div>
    </div>
  </div>
</div>