<%
  total_width = (@width * @per_row) + (16 * (@per_row - 1))
  scaled_width = total_width * @scale
%>

<div class="skeleton-gallery" style="
padding: <%= 16 * @scale %>px;
  width: <%= scaled_width %>px;
">
  <div style="
  display: grid;
    grid-template-columns: repeat(<%= @per_row %>, <%= @width * @scale %>px);
    gap: <%= 16 * @scale %>px;
  ">
    <% @count.to_i.times do %>
      <div class="skeleton-loading <%= @animation_type %>" style="padding-bottom: 100%;"></div>
    <% end %>
  </div>
</div>