<%
  total_width = (@base_width * @image_per_row) + (16 * (@image_per_row - 1))
  scaled_width = total_width * @container_scale
%>

<div class="skeleton-gallery" style="
padding: <%= 16 * @container_scale %>px;
  width: <%= scaled_width %>px;
">
  <div style="
  display: grid;
    grid-template-columns: repeat(<%= @image_per_row %>, <%= @base_width * @container_scale %>px);
    gap: <%= 16 * @container_scale %>px;
  ">
    <% @image_count.to_i.times do %>
      <div class="skeleton-loading <%= @animation_type %>" style="padding-bottom: 100%;"></div>
    <% end %>
  </div>
</div>