<%
  scaled_width = @base_width * @container_scale
%>

<div class="skeleton-paragraph" style="
padding: <%= 16 * @container_scale %>px;
  width: <%= scaled_width %>px;
">
  <div style="display: flex; flex-direction: column; gap: <%= 12 * @container_scale %>px;">
    <% @line_count.to_i.times do |i| %>
      <div class="skeleton-loading <%= @animation_type %>" style="
      height: <%= 20 * @container_scale %>px;
        width: <%= [100, 83, 67, 75][i % 4] %>%;
      "></div>
    <% end %>
  </div>
</div>